<launch>
    <node name="map_segmentation" pkg="task_1" type="map_segmentation.py" output="screen">
        <param name="segmentation_size" type="int" value="1" />
        <param name="min_quad_size" type="int" value="8" />
        <param name="waypoint_rotation_treshold" type="double" value="0.1" />
    </node>
    <node name="face_detector" pkg="task_1" type="face_detector.py" output="screen" args="$(find task_1)/data/deploy.prototxt.txt $(find task_1)/data/res10_300x300_ssd_iter_140000.caffemodel" />
    <node name="mover" pkg="task_1" type="mover.py" output="screen" />
</launch>
